[package]
name = "vac-wasm"
description = "WASM bindings for VAC"
version.workspace = true
edition.workspace = true
license.workspace = true

[lib]
crate-type = ["cdylib", "rlib"]

[dependencies]
vac-core = { path = "../vac-core" }
vac-prolly = { path = "../vac-prolly" }
vac-red = { path = "../vac-red" }
vac-store = { path = "../vac-store" }
wasm-bindgen = { workspace = true }
js-sys = { workspace = true }
serde = { workspace = true }
serde_json = { workspace = true }
serde-wasm-bindgen = "0.6"

[dev-dependencies]
wasm-bindgen-test = "0.3"
